<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Name</title>
</head>
<body>
    <body>
        <form id="group-name-form">
            <label for="groupname">Enter group name</label>
            <input type="text" id="groupname">
            <button type="submit">Submit</button>
        </form>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
    <script src="/js/nameTheGroup.js"></script>

</body>
</html>